<h2 class="text-center">Home - Country List</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <div *ngIf="!this.countryDetail; then thenBlock else elseBlock"></div>
    </tbody>
  </table>
</div>

<ng-template #thenBlock>
  <tr>
    <td>Country Name</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Capital</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Region</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Sub Region</td>
    <td>-</td>
  </tr>
   <tr>
    <td>Population</td>
    <td>-</td>
  </tr>
   <tr>
    <td>Area</td>
    <td>-</td>
  </tr>
    <tr>
    <td>alpha3Code</td>
    <td>-</td>
  </tr>
</ng-template>
<ng-template #elseBlock>
  <tr>
    <td>Country Name</td>
    <td>{{this.countryDetail.name}}</td>
  </tr>
  <tr>
    <td>Capital</td>
    <td>{{countryDetail.capital}}</td>
  </tr>
  <tr>
    <td>Region</td>
    <td>{{countryDetail.region}}</td>
  </tr>
  <tr>
    <td>Sub Region</td>
    <td>{{countryDetail.subregion}}</td>
  </tr>
  <tr>
    <td>Population</td>
    <td>{{countryDetail.population}}</td>
  </tr>
  <tr>
    <td>Area</td>
    <td>{{countryDetail.area}}</td>
  </tr>
  <tr>
    <td>alpha3Code</td>
    <td>{{countryDetail.alpha3Code}}</td>
  </tr>
</ng-template>

